.info
{
    margin-top: 0;
}
.infoPhotoTop
{
    display:none;
}
.info h1
{
    font-family: OpenSans Semibold;
    font-size: 35px;
    margin-bottom: 27px;
    color: #131313;
    margin-top:6px;
}
.infoPhoto
{
    height: 400px;
    text-align: center;
    line-height: 400px;
}

.infoPhoto img
{
    max-width: 355px; 
    margin-top:10px;   
}

.infoText
{
    /*margin-top: 45px;*/
    margin-bottom: 35px;
    font-family: OpenSans Light;
    font-size: 16px;
    line-height: 23px;
    color: #131313;
}

.infoText .infoTitle
{
    margin-top: 25px;
}

.infoTitle
{
    font-family: OpenSans Semibold;
    font-size: 25px;
    color: #3c3c3c;
    margin-top: 47px;
    margin-bottom: 35px;
}

.sort
{
   font-family: OpenSans;
   font-size: 19px; 
   text-align: right;
   margin-top: 51px;
}

/*.sort:last-child
{
    padding-right: 0;
}*/

.sort a
{
    color: #5f5f5f;
}

.sort a:hover
{
    text-decoration: none;
    color: #2b96c0;
}

.sort .active
{
    color: #2b96c0;
    text-decoration: underline;
    
}

.sort .sortTitle
{
    font-family: OpenSans Semibold;
    color: #5f5f5f;
}

.strip_reverse tbody tr:nth-of-type(odd), .strip_reverse thead tr
{
    background-color: #d7f4ff;
}
.strip_reverse tbody tr:nth-of-type(even)
{
    background-color: #fff;
}

.one_comp_rait tr td a, .one_comp_rait .br_all
{
    word-break: break-all;
}
.one_comp_rait tr th
{
    width:115px;
}
.wall h2
{
    font-family: OpenSans Semibold;
    font-size: 29px;
    color: #3c3c3c;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 35px;
}

.wall .wall_text
{
    word-break: break-all;
    margin-bottom: 15px;
}
.wall .wall_text br
{
    display: block;
    margin: 5px;
    content: "";
}
.wall .photos
{
    text-align:center;
}
.wall .photos img
{
    max-width: 400px;
    width: 100%;
}
.wall .panel-footer
{
    text-align:right;
}
.wall .col-sm-6:nth-child(odd) {float: left;}
.wall .col-sm-6:nth-child(even) {float: right;}
@media screen and (min-width:1199px)
{
    .sorokclass
    {
        width:40%;
    }
}
@media screen and (max-width:991px)
{
    .infoPhotoTop
    {
        display: block;
        text-align:center;
        margin-bottom:20px;
        
    }
    .infoPhoto
    {
        display: none;
    }
    .infoPhotoTop img
    {
        width:100%;
        max-width:355px;
    }
    .info h1
    {
        text-align:center;
    }
    .infoText .infoTitle {
        margin-top: 25px;
        text-align:center;
    }
}

@media screen and (max-width:768px)
{
    .infoTitle, .infoText, .infoPhoto
    {
        text-align: center;
    }
    table .litnon
    {
        display:none;
    }
}

@media screen and (max-width:395px)
{
    .infoPhoto img
    {
        width: 100%;    
    }
}

@media screen and (max-width:345px)
{
    .info table
    {
        font-size: 18px;
    }
}